<div class="cover">
      <div class="cover-image" style="background-image: url(/images/top.png); height:100%;"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-inverse">Автосервисы</h1>
            <p class="text-inverse">Сашки Белого</p>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>