<% layout('./layout/page') -%>
 <script src="/vendor/angular.min.js"></script>
 <script src="/vendor/main.js"></script>
 <script src="/vendor/dirPagination.js"></script>
 <div ng-app="myApp">
    <div ng-controller="MyController" class="my-controller"><div class="row">
            <div style="margin-left:40%;">
                <div class="col-xs-4" >
                    <label for="search">Search:</label>
                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                </div>
            </div>
          </div>
          <br>
                <div dir-paginate="service in services | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                <div class="ServiceContent">
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="http://devsidauto.ru/uploads/posts/2014-10/1412528010_1.jpg" class="img-responsive">
                            </div>
                            <div class="col-md-6">
                                <h1 class="text-primary">
                                    {{service.name}}
                                </h1>
                                <p> <b>Адрес: </b>
                                    {{service.address}}
                                </p>
                                <p><b>Описание: </b>
                                    {{service.description}}
                                </p>
                                <a class="btn btn-primary" href="/home/{{service._id}}">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div ng-controller="OtherController" class="other-controller">
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="/vendor/dirPagination.tpl.html"></dir-pagination-controls>
          </div>
        </div>
      </div>