<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        <%= tittle %>
    </title>
    <style type="text/css">
        body {
            padding: 50px;
            font: 30px Helvetica, Arial, sans-serif;
        }
    </style>
</head>

<body>
    <h1><%= tittle%></h1>
</body>
</html>