<% layout('./layout/page') -%>
<h1 class="text-primary"><% service.name %></h1>
<h3><% service.address %></h3>
<h3><% service.workinghours %></h3>
<h3><% service.email %></h3>
<h3><% service.production %></h3>
<h3><% service.info %></h3>
<p><% service.description %></p>
<a class="btn btn-primary">Return</a>