<!DOCTYPE html>
<html>
<head>
    <title>< %=blocks.title% ></title>
    <link rel="stylesheet" href="/public/vendor/bootstrap-3.3.6-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/public/css/app.css"/>
    
    <script src="/public/vendor/jquery-2.2.3.min.js"></script>
    <script src="/public/vendor/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</head>
<body>
<header>
    < %-blocks.header% >
</header>

<section class="container">
    <%-partial('../partials/topNavigation')%>
    
    <h1><%=blocks.title%></h1>
    <h1>zdsxdx</h1>
    
    <%-body -%>
</section>
<footer>
    <%-blocks.footer%>
</footer>
</body>
</html>