<!DOCTYPE html>
<html>  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/vendor/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/app.css"  rel="stylesheet">
  </head>
<body>
    <div class="top">
        <%-partial('../partials/topNavigation')%>
    </div>
        <div class ="all-content">
            <%-body -%>
        </div>
    <footer>
        <%-blocks.footer%>
    </footer>
</body>
</html>